/*
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Staatliches Regular'), local('Staatliches-Regular'),
    url(/fonts/Staatliches-Regular.woff2) format('woff2'),
    url(/fonts/Staatliches-Regular.woff) format('woff');
}
*/
